<div class="jumbotron">
	<div class="container">
		<div class="row row-centered">
			<div class="col-lg-12 col-cenetered">
				<h1> SpotIronify </h1> 
				<p>Search for your song.</p>
			</div><!--.col-->
		</div><!--/.row-->
	</div><!--/.container-->
	<div class="container js-search">
		<div class="row">
			<div class="col-lg-3">
			</div>
			<div class="col-lg-6">
			    <div class="input-group">
			      <input type="text" class="form-control" placeholder="">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Go!</button>
			      </span>
			    </div><!-- /input-group -->
			</div><!--/.col-->
			<div class="col-lg-3">
			</div>
		</div><!-- /.row js-search-cont-->
	</div><!-- /.container -->
</div><!--/jumbotron-->
<div class="widget">
  <div class="header">
    <!-- Try adding/removing these classes: -->
    <!-- disabled -->
    <!-- playing -->
    <div class="btn-play"></div>

    <div class="metadata">
      <p class="title">Hunger of The Pine</p>
      <p class="author">alt-J</p>

      <div class="seekbar">
        <progress value="5" max="30"></progress>
      </div>
    </div>
  </div>
  <div class="cover">
    <img src="https://i.scdn.co/image/04da6dfc1f5f45fdeba938a0cc71cf372524fd43">
  </div>

  <audio id="audio" src="https://p.scdn.co/mp3-preview/8e9c5ffdc38e91659bfe8b6bd44650dfc25a3d31"></audio>
</div>

