<div class="jumbotron">
	<div class="container">
		<div class="row row-centered">
			<div class="col-lg-12 col-cenetered">
				<h1> SpotPreview </h1> 
				<p class="underHeader">Search for your song.</p>
			</div><!--.col-->
		</div><!--/.row-->
	</div><!--/.container-->
	<div class="container js-search">
		<div class="row">
			<div class="col-lg-3">
			</div>
			<div class="col-lg-6">
			    <div class="input-group">
			      <input type="text" class="form-control js-searchbar" placeholder="">
			      <span class="input-group-btn">
			        <button class="btn btn-default js-search-button" type="button">Go!</button>
			      </span>
			    </div><!-- /input-group -->
			</div><!--/.col-->
			<div class="col-lg-3">
			</div>
		</div><!-- /.row js-search-cont-->
	</div><!-- /.container -->
</div><!--/jumbotron-->
<div class="widget">
  <div class="header">
    <!-- Try adding/removing these classes: -->
    <!-- disabled -->
    <!-- playing -->
    <div class="btn-play"></div>

    <div class="metadata">
      <p class="title js-title"></p>
      <p class="author js-author"></p>

      <div class="seekbar">
        <progress class="progBar" value="" max="30"></progress>
      </div>
    </div>
  </div>
  <div class="cover">
    <img class="albumArt" src="assets/palms1.jpeg">
  </div>

  <audio class= "js-player" id="audio" src="https://p.scdn.co/mp3-preview/8e9c5ffdc38e91659bfe8b6bd44650dfc25a3d31"></audio>
</div>
<div class="modal fade js-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <!-- Close button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>

        <h2 class="js-modal-head"></h2>
      </div>

      <div class="modal-body">
        <p class="js-modal-body">
        	<p class="js-modal-genre"></p>
        	<p class="js-modal-followers"></p>
        	<p class="js-modal-image"></p>
        </p>
        <p class="js-modal-trackList"></p>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

